<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
  <!-- Section: Social media -->
  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
    <!-- Left -->
    <div class="me-5 d-none d-lg-block">
      <span style="color:navy;">You can stop by here for any queries - </span>
    </div>
    <!-- Left -->

    <!-- Right -->
    <div>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-google"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-github"></i>
      </a>
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h3 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3" style=" text-align: justify;"></i> The Helpline Team
          </h3>
          <p style="text-align:justify ;color:black;">
            The Helpline Team's member will get in touch with you personally in helping 
            the procedure to carry on smoothly.
            Timings to contact us:</p>
            <ol>
              <li style="color: black;">Morning - 9:00 a.m to 1:00 p.m</li>
              <li style="color: black;">Evening - 4:00 p.m to 6:00 p.m</li>
            </ol>
          
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h5 class="text-uppercase fw-bold mb-4" style="color: black;">
            Branches
          </h5>
          <p  
              style = "color: brown; text-decoration: underline;">
              <b> Mount Street </b>
               
          </p>
          <p  
              style = "color: brown; text-decoration: underline;">
              <b> Commercial Street </b>
               
          </p>
          <p  
              style = "color: brown; text-decoration: underline;">
              <b> Lavelle Road </b>
               
          </p>
          <p  
              style = "color: brown; text-decoration: underline;">
              <b> Church Street </b>
               
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h5 class="text-uppercase fw-bold mb-4" style="color: black;text-align:justify;">
           Passports
          </h5>
          <p  
              style = "color: black; ">
              <b> Service Passport </b>
               
          </p>
          <p  
              style = "color: black; ">
              <b> Student Passport </b>
          </p>
          <p  
              style = "color: black; ">
              <b> Regular Passport </b>
          </p>
          <p  
              style = "color: black; ">
              <b> Temporary Passport </b>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h5 class="text-uppercase fw-bold mb-4" style="color:black; text-align:justify;"> &nbsp; &nbsp; &nbsp; Contact</h5>
          <p style="text-align:justify; color: black;">Bangalore, church st 560010, India</p>
          <p style="text-align:justify ; color: black;">
            info@yahoo.in
          </p>
          <p style="text-align:justify ; color: black;">  +080 267637673</p>
          <p style="text-align:justify ; color: black;"> +080 278637673</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->
  
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(83, 222, 150, 0.05);">
      <i>@ Anand V</i>
      <a class="text-reset fw-bold" href="https://mdbootstrap.com/"> </a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
