<div class="ct-pageWrapper" id="ct-js-wrapper">
    <section class="company-heading intro-type" id="parallax-one">
      <div class="container">
        <div class="row product-title-info">
          <div class="col-md-12">
            <h1>About Us</h1>
            <br>
            <br>
            <div class="container">
                <p> We basically schedule appointments for </p>
                <br>
                <ul class="myUL">
                  <li>Passport Verification</li>
                  <li>Passport Renewal</li>
                  <li>Passport Creation</li>
                </ul>
              </div>
            
          </div>
        </div>
      </div>
      <div class="parallax" id="parallax-cta" style="background-image:url(https://www.solodev.com/assets/hero/hero.jpg);"></div>
   </section>
   
