.footer-bottom{
    background-color: rgb(23, 21, 21);
    color: white;
    align-items: center;
    margin-bottom: 0%;
}
h3{
    align-items: center;
    margin-left: 40%;
}
p{
    margin-left: 43%;
}