h1{
    padding-left: 35%;
 }
 .form-control{
     width: 30%;
 
 }
 .container{
     padding-left: 35%;
     /* align-items: center; */
 }
 .container1{
    padding-left: 30%;
    /* align-items: center; */
}
table, th, td {
    border:1px solid black;
  }
  .dropdown {
    display: inline-block;
    position: relative;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    overflow: auto;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .dropdown-content a {
    display: block;
    color: #000000;
    padding: 5px;
    text-decoration: none;
  }
  .dropdown-content a:hover {
    color: #FFFFFF;
    background-color: #00A4BD;
  }

  /* google
  h1{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align:center;


 }
.btn-danger{
    color: cornsilk;
}




 .form-control{
     width: 30%;
     position: relative;
             display: block;
             margin : 0 auto;
   
     
 
 }
 .container{
     padding-left: 65%;
     background-image: url('https://cdn.pixabay.com/photo/2016/11/21/13/29/yellow-1845394_960_720.jpg');
     background-position: center;
     background-size: cover;
     text-align: center;
     padding: 200px;
 }*/
 